@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Face Book Login</h1>

    <p><a href="@ViewBag.Url" class="btn btn-primary btn-lg">Login With Face Book</a></p>

    <a href="@ViewBag.Url">Go to Example</a>
</div>

<div class="row">

</div>